#root, body {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: lightcyan;
}

h2 {
    text-align: center;
    margin: .5em
}

.controls-bar {
    background-color: lightgray;
    justify-content: center;
}

.buttons-container {
    padding-bottom: 4px;
}

.app {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
}

@media (orientation: portrait) {
    input {
        width: 90%;
    }
}