#root, body {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: lightcyan;
}

h2 {
    text-align: center;
    margin: .5em auto;
}

.controls-bar {
    background-color: lightgray;
    justify-content: center;
}

.buttons-container {
    padding-bottom: 4px;
}

.app {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

.gallery {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.posters-container {
    margin: auto;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 5%;
    width: 80%;
}

@media (orientation: portrait) {
    .posters-container {
        padding: 0;
        width: 100%;
    }
    input {
        width: 90%;
    }
}