.time-search-box {
    display: flex;
    align-items: center;
    width: 60%;
    text-align: center;
    height: 2em;
    margin: auto;
    padding: 0;
    justify-content: center;
}
.time-search-input {
    width: 75%;
    padding: 0;
}
@media (orientation: portrait) {
    .time-search-box {
        width: 88%;
    }
    .time-search-input {
        width: 70%;
        padding: 0;
    }
}