.watch-button-group {
    text-align: center;
    height: 1.5em;
    display: flex;
    justify-content: center;
    margin: 5px;
}
.watch-button {
    margin-left: 4px;
    margin-right: 4px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
a {
    text-decoration: none;
}
.watch-icon {
    height: 100%;
}
.watch-button > div {
    padding: 0 2px;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
}
.hide {
    display: none;
}